/* header css */
.navHeader {
    margin-bottom: 0px;
    
    // background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);

}


.card-header {
    background-color: #007bff !important
}

.navChild {
    font-size: 15px;
    // font-weight: bold;
}

.parentChild{
    font-size: 25px;
    // font-weight: bold;
}
.fixednav{
    position: fixed;
    width: 100%;
   
}

a:hover {
    color: #ffb22b;
}

.navBackground {
    background-color: #7c4396;
}

.setFontColor {
    color: white;
}
.signinHov {
    p:hover {
        color: #ffb22b !important;
    }
}

.bg-light {
    background-color: #7c4396 !important;
}


// body scss
.pHeading {
    font-size: 25px;
    font-weight: bold;
}

.pValue {
    font-size: 2opx;
    
}

.statTitle {
    font-size: 20px;
    color: #ffffff;
}

.statDayLeft {
    // font-size: 65px;
    font-weight: bold;
}

.pTag {
    margin-bottom: '4%';
    font-weight: bold;
}

.subTitleOne {
    color: #7c4396;
    font-weight: bold;
}